.lead-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #ececec;
  width: 100%;
  border-radius: 32px;
  color: var(-x-main-dark);
  font-family: var(--default-font);
  padding: 2vw 3vw;

  .form-feild {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    width: 100%;
    img {
      width: 1vw;
      max-height: 1vw;
    }
    label {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1vw;
      height: fit-content;
      font-size: 1vw;
      font-weight: 400;
    }
    input,
    textarea {
      background-color: transparent;
      border: 1px solid #b3b3b3;
      border-radius: 24px;
      padding: 0.7vw 1.5vw;
      width: 100%;
      font-family: var(--default-font);
      font-size: 1vw;
      color: #9d9d9d;
      font-weight: 400;
    }
    textarea {
      overflow: hidden;
      resize: none;
      height: 160px;
    }
    .glass-button {
      width: fit-content;
      background-color: var(--main-dark);
      color: var(--main-light);
      z-index: 5;
    }
    .glass-button:hover {
      cursor: pointer;
    }
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(8px);
  }
  10% {
    opacity: 1;
    transform: translateY(0);
  }
  90% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(8px);
  }
}

@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
  .lead-form {
    border-radius: 18px;
    padding: 24px;
    gap: 24px;

    .form-feild {
      gap: 16px;
      img {
        width: 24px;
        max-height: 24px;
      }
      label {
        gap: 16px;
        font-size: 20px;
      }
      input,
      textarea {
        border-radius: 24px;
        padding: 16px 32px;
        font-size: 14px;
      }
      textarea {
        overflow: hidden;
        resize: none;
        height: 140px;
      }
      .glass-button {
        width: 100%;
        z-index: 5;
        padding: 12px 8px;
        font-size: 16px;
      }
      .glass-button:hover {
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 576px) {
}
