.about-main {
  display: flex;
  flex-direction: column;
  h3 {
    font-size: 3vw;
    font-weight: 700;
    text-transform: capitalize;
  }
  h4 {
    font-size: 2vw;
    font-weight: 600;
    text-wrap: nowrap;
    width: fit-content;
    text-transform: capitalize;
  }
  p {
    font-size: 1.5vw;
    font-weight: 400;
  }
  svg {
    circle {
      r: 4;
    }
  }
}

.who-we {
  display: flex;
  justify-content: space-between;
  align-items: stretch;

  padding: 6vw 6vw 6vw 4vw;
  gap: 6vw;
  background-color: var(--main-light);
  color: var(--main-dark);
  font-family: var(--default-font);
}
.who-we__title__container {
  display: flex;
  position: relative;

  .who-we__title {
    display: inline-block;
    font-size: 8vw;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    padding: 1vw 0vw;
  }
  .vertical-break {
    width: 0.5vw;
    height: 100% !important;
    background-color: var(--main-dark);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
  }
}
.who-we__intro {
  padding: 1vw 0vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.who-we__content {
  display: flex;
  flex-direction: column;
  gap: 1vw;
}
.who-we__categories {
  display: flex;
  align-items: flex-start;
  .category {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding-right: 16px;
  }
}
.who-we__bio {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1vw;
  p {
    text-align: end;
  }
}

.about-container-2 {
  background-color: var(--main-dark);
  color: var(--main-light);
  font-family: var(--default-font);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6vw 6vw;
  gap: 5vw;
  h3 {
    color: var(--hero-color);
  }
  .mobile-title {
    display: none;
  }
  .title-container {
    display: flex;
    position: relative;
    height: fit-content;

    .title {
      display: inline-block; /* ensure it contributes to parent's height */
      font-size: 8vw;
      writing-mode: vertical-lr;
      padding: 1vw 0vw;
    }
    .vertical-break {
      width: 0.5vw;
      height: 100% !important;
      background-color: var(--main-light);
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
    }
  }
}
.about-2-content {
  display: flex;
  flex-direction: column;
  gap: 4vw;
}
.our-approch-container {
  display: flex;
  flex-direction: column;
  gap: 4vw;
}
.services-container {
  display: flex;
  justify-content: space-between;
  gap: 2vw;
}
.service {
  display: flex;
  flex-direction: column;
  width: min-content;
  gap: 1vw;
  h4 {
    display: flex;
    gap: 0.8vw;
    align-items: start;

    .red-colored {
      font-size: 4vw;
      line-height: 0;
      margin-top: 0.1vw;
      margin-left: -0.4vw;
    }
  }
  p {
    font-size: 1.3vw;
    height: fit-content;
  }
}
.our-presence-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1vw;
  p {
    text-align: end;
  }
}

@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 992px) {
  .about-main {
    svg {
      circle {
        r: 3;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .about-main {
    display: flex;
    flex-direction: column;
    h2 {
      font-size: 56px;
    }
    h3 {
      font-size: 40px;
      font-weight: 700;
      text-transform: capitalize;
    }
    h4 {
      font-size: 24px;
    }
    p {
      font-size: 18px;
      font-weight: 400;
    }
    svg {
      circle {
        r: 5;
      }
    }
  }
  .who-we {
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: var(--main-light);
    color: var(--main-dark);
    font-family: var(--default-font);
  }
  .who-we__title__container {
    .who-we__title {
      writing-mode: horizontal-tb;
      transform: rotate(0);
      text-decoration: underline;
      text-underline-offset: 8px;
    }
    .vertical-break {
      display: none;
    }
  }
  .who-we__content {
    gap: 16px;
  }
  .who-we__categories {
    flex-direction: column;
    gap: 12px;
  }
  .about-container-2 {
    flex-direction: column;
    padding-bottom: 60px;
    .title-container {
      display: none;
    }
    .mobile-title {
      display: block;
      text-align: end;
      width: 100%;
      text-decoration: underline;
      text-underline-offset: 8px;
      font-weight: 700;
    }
  }
  .services-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .service {
    gap: 16px;
    width: 100%;
    h4 {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }
  }
  .our-presence-container {
    gap: 16px;
  }
}
@media screen and (max-width: 576px) {
  .about-main {
    display: flex;
    flex-direction: column;
    h2 {
      font-size: 48px;
    }
    h3 {
      font-size: 36px;
      font-weight: 700;
      text-transform: capitalize;
    }
    h4 {
      font-size: 24px;
    }
    p {
      font-size: 16px;
      font-weight: 400;
    }
    svg {
      circle {
        r: 5;
      }
    }
  }
}
