.hero-container {
  padding: 40px 8vw;
  height: 100vh !important;
  position: relative;
  background-size: cover; /* makes it cover */
  background-position: center; /* keeps it centered */
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.countries-container {
  text-transform: uppercase;
  display: flex;
  gap: 2vw;
  a {
    font-size: 1vw;
    font-family: var(--default-font);
    color: var(--hero-color);
    text-decoration: none;
  }
}
.logo-container {
  background: black;
  justify-content: center;
  border-radius: 30%; /* Creates an oval shape */
  box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 1);

  img {
    width: 20vw;
    margin: -15px;
  }
}

.hero-navigation {
  display: flex;
  gap: 1.2vw;
  a {
    color: var(--hero-color);
    text-transform: uppercase;
    border-radius: 36px;
    font-weight: 300;
  }
}

@media screen and (max-width: 1200px) {
  .hero-container {
    a {
      font-size: 1.5vw;
    }
  }
}
@media screen and (max-width: 992px) {
  .hero-container {
    height: 50vh !important;
  }
}

@media screen and (max-width: 768px) {
  .hero-container {
    a {
      font-size: 2vw;
    }
    .hero-navigation {
      display: flex;
      justify-content: space-between;
      width: 100%;
      .glass-button {
        padding: 5px 20px;
      }
    }
  }
  .logo-container {
    img {
      width: 30vw;
      margin: -15px;
    }
  }
}
@media screen and (max-width: 576px) {
  .hero-container {
    a {
      font-size: 2.5vw;
    }
  }
  .logo-container {
    img {
      width: 40vw;
      margin: -15px;
    }
  }
}
