.homepage-project-card {
  position: absolute;
  left: 0;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1;
  background-color: var(--main-dark);
  margin-top: 28px;
  .card-title {
    position: absolute;
    top: -28px;
    color: var(--main-light);
    font-size: 16px;
    font-family: var(--default-font);
    background-color: var(--main-red);
    padding: 4px 8px;
    border-radius: 0 12px 0 0;
  }
}
.bottom-title {
  position: absolute;
  bottom: 10%;
  left: 2%;
  font-weight: 600;
  color: var(--main-light);
  font-size: 60px;
  font-family: var(--default-font);
  transition: 0.2s;
}

.homepage-project-card:hover .bottom-title {
  scale: 1.05;
}
.bottom-logo {
  position: absolute;
  bottom: 10%;
  right: 8%;
  opacity: 60%;
  width: 200px;
}
