.contact-section-container {
  display: flex;
  justify-content: space-between;
  background-color: var(--main-light);
  padding: 5vw 6vw;
  gap: 2vw;
}
@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
  .contact-section-container {
    flex-direction: column;
  }
}

@media screen and (max-width: 576px) {
}
