.contact-cta-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5vw 6vw;
  color: var(--main-light);
  font-family: var(--default-font);
  background-color: var(--main-dark);
  z-index: 0;
  text-align: center;
  margin-top: -2px;
  .contact-bg-container {
    position: absolute;
    inset: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: 1;
    opacity: 0.36;
  }
  .contact-cta-content {
    z-index: 2;
  }
  .glass-button {
    width: fit-content;
    color: var(--main-light);
    z-index: 2;
  }
}

.contact-cta-container-1 {
  font-size: 4vw;
  font-weight: 700;
  gap: 1.5vw;
}
.contact-cta-container-2 {
  font-size: 3vw;
  font-weight: 600;
  gap: 2vw;
}
@media screen and (max-width: 1200px) {
  .contact-cta-container {
    .glass-button {
      font-size: 1.5vw;
      z-index: 2;
    }
  }
}
@media screen and (max-width: 992px) {
  .contact-cta-container {
    .glass-button {
      font-size: 2vw;
      padding: 1vw 2vw;
      z-index: 2;
    }
  }
  .contact-cta-container-1 {
    font-size: 5vw;
    font-weight: 700;
    gap: 1.5vw;
  }
  .contact-cta-container-2 {
    font-size: 4vw;
    font-weight: 600;
    gap: 2vw;
  }
}
@media screen and (max-width: 768px) {
  .contact-cta-container {
    padding: 80px 32px;
    .glass-button {
      width: 100%;
      font-size: 20px;
      padding: 12px;
    }
  }
  .contact-cta-container-1 {
    font-size: 40px;
    font-weight: 700;
    gap: 24px;
  }
  .contact-cta-container-2 {
    font-size: 40px;
    font-weight: 600;
    gap: 32px;
  }
}
@media screen and (max-width: 576px) {
  .contact-cta-container-1 {
    font-size: 32px;
  }
  .contact-cta-container-2 {
    font-size: 32px;
  }
}
