.footer-container {
  color: var(--main-dark);
  background-color: var(--main-light);
  font-family: var(--default-font);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2vw 6vw;
  h3 {
    font-size: 1vw;
    font-weight: 600;
  }
  p {
    font-size: 0.9vw;
    font-weight: 400;
  }
  a {
    color: var(--main-dark);
    text-decoration: none;
    font-size: 0.9vw;
    font-weight: 400;
  }
}
.footer-cta {
  width: 100%;

  h2 {
    font-size: 3vw;
  }
  a {
    margin-top: 1vw;
    width: fit-content;
    padding: 0.6vw 1vw;
    font-size: 1vw;
    font-weight: 400;
  }
}

.footer-contacts {
  width: 60vw;
  display: flex;
  justify-content: space-between;

  .social-media {
    display: flex;
    flex-direction: column;
    gap: 1.5vw;
    .locations-container {
      display: flex;
      flex-direction: column;
      gap: 1vh;
    }
    .social-container {
      display: flex;
      flex-direction: column;
      gap: 1vh;
    }
    .social-links-continer {
      display: grid;
      grid-template-columns: auto auto;
      .social-link {
        display: flex;
        flex-direction: row;
        gap: 1vh;
        margin-right: 1vw;
        margin-bottom: 0.2vw;
        img {
          width: 1vw;
        }
      }
    }
  }
  .contact-info {
    display: flex;
    flex-direction: column;
    gap: 1.5vw;
    .contact-details {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      text-align: end;
      gap: 1vh;
      a {
        width: fit-content;
      }
    }
    .footer-nav {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      text-align: end;
      gap: 1vh;
      .links-container {
        display: flex;
        gap: 1vh;
        justify-content: center;
        align-items: flex-start;
        .red-colored {
          font-size: 3vw;
          line-height: 0;
          margin-top: -0.25vw;
        }
      }
    }
  }
}
.productions-subfooter {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 2vw;

  p {
    color: var(--main-light);
    font-family: var(--default-font);
    font-size: 14vw;
    font-weight: 700;
    letter-spacing: -0.8vw;
    text-transform: uppercase;
    opacity: 0.6;
    mix-blend-mode: color-dodge;
    text-align: center;
  }
}

.copyrights-container {
  padding: 1.5vw 6vw;
  background-color: var(--main-light);
  p {
    font-family: var(--default-font);
    color: var(--main-dark);
    font-size: 0.9vw;
    font-weight: 300;
    text-align: end;
  }
}
@media screen and (max-width: 1200px) {
  .copyrights-container {
    p {
      font-size: 1.4vw;
    }
  }
  .footer-container {
    .footer-cta {
      width: 90%;
    }
    h3 {
      font-size: 1.8vw;
    }
    p {
      font-size: 1.4vw;
    }
    a {
      font-size: 1.4vw;
    }
    .footer-contacts {
      .contact-info {
        .footer-nav {
          .links-container {
            .red-colored {
              font-size: 4vw;
              margin-top: -0.25vw;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
  .copyrights-container {
    p {
      font-size: 14px;
      text-align: center;
    }
  }
  .footer-container {
    gap: 24px;
    h3 {
      font-size: 16px;
    }
    p {
      font-size: 14px;
    }
    a {
      font-size: 14px;
    }
    .footer-cta {
      .glass-button {
        font-size: 16px;
        padding: 1vw 2vw;
      }
    }

    .footer-contacts {
      .contact-info {
        .footer-nav {
          justify-content: flex-end;
          align-items: end;
          .links-container {
            flex-direction: column;
            .red-colored {
              display: none;
            }
          }
        }
      }
      .social-media {
        .social-links-continer {
          .social-link {
            img {
              width: 14px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 576px) {
  .footer-container {
    flex-direction: column;
    gap: 24px;
    h3 {
      font-size: 16px;
    }
    p {
      font-size: 14px;
    }
    a {
      font-size: 14px;
    }
    .footer-cta {
      width: 100%;
      h2 {
        font-size: 8vw;
      }
      .glass-button {
        width: 100%;
        font-size: 4vw;
        padding: 1vw 2vw;
      }
    }

    .footer-contacts {
      width: 100%;
      .contact-info {
        .footer-nav {
          justify-content: flex-end;
          align-items: end;
          .links-container {
            flex-direction: column;
            .red-colored {
              display: none;
            }
          }
        }
      }
      .social-media {
        .social-links-continer {
          .social-link {
            img {
              width: 14px;
            }
          }
        }
      }
    }
  }
}
