.location-section {
  display: flex;
  flex-direction: column;
  gap: 2vw;
  font-family: var(--default-font);
  padding: 2vw 0vw;

  h3 {
    font-size: 2vw;
    font-weight: 400;
  }
  h4 {
    font-size: 1.5vw;
    font-weight: 600;
  }
  p {
    font-size: 1vw;
    font-weight: 300;
    text-wrap: nowrap;
  }
  img {
    height: 2vw;
    margin-bottom: 1vw;
  }
}
.location-details {
  display: flex;
  justify-content: space-between;
  .right-clustur {
    display: flex;
    flex-direction: column;
    gap: 3vw;
  }
  .left-clustur {
    display: flex;
    flex-direction: column;
    gap: 3vw;
  }
  .contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1vw;
  }
}

.gorilla-location {
  height: 250px;
  border-radius: 24px;
}
/* Contraband police search and seize */
