.location-section {
  display: flex;
  flex-direction: column;
  gap: 2vw;
  font-family: var(--default-font);
  padding: 2vw 0vw;
  will-change: transform, opacity;

  h3 {
    font-size: 2vw;
    font-weight: 400;
  }
  h4 {
    font-size: 1.5vw;
    font-weight: 600;
  }
  p {
    font-size: 1vw;
    font-weight: 300;
    text-wrap: nowrap;
  }
  img {
    height: 2vw;
    margin-bottom: 1vw;
  }
}
.location-details {
  display: flex;
  justify-content: space-between;
  .right-clustur {
    display: flex;
    flex-direction: column;
    gap: 3vw;
  }
  .left-clustur {
    display: flex;
    flex-direction: column;
    gap: 3vw;
  }
  .contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1vw;
  }
}

.gorilla-location {
  height: 250px;
  border-radius: 24px;
}
/* Contraband police search and seize */
.contact-section-container {
  display: flex;
  justify-content: space-between;
  background-color: var(--main-light);
  padding: 5vw 6vw;
  gap: 2vw;
}
@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
  .location-section {
    gap: 36px;
    h3 {
      font-size: 30px;
      font-weight: 300;
    }
    h4 {
      font-size: 24px;
      font-weight: 600;
    }
    p {
      font-size: 16px;
      text-wrap: nowrap;
    }
    img {
      height: 36px;
    }
  }
  .location-details {
    flex-direction: column;
    gap: 16px;
    .right-clustur {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
    .left-clustur {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
  }
}

@media screen and (max-width: 576px) {
  .location-section {
    gap: 36px;
    h3 {
      font-size: 6.27vw;
    }
    h4 {
      font-size: 20px;
      font-weight: 600;
    }
    p {
      font-size: 16px;
      text-wrap: nowrap;
    }
    img {
      height: 30px;
    }
  }
}
