* {
  box-sizing: border-box;
  border: 0;
  margin: 0;
}
:root {
  --default-font: "Outfit", sans-serif;
  --hero-color: #fff;
  --main-dark: #1b1b1b;
  --main-light: #e2e0e0;
  --main-red: #c33;
}

.glass-button {
  background: rgba(109, 109, 109, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  padding: 0.8vw 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 36px;
  font-family: var(--default-font);
  transition: 0.3s ease-in-out;
  font-size: 1vw;
  font-weight: 400;
}

/* Gradient border layer */
.glass-button::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  padding: 1px;
  background: linear-gradient(
    160deg,
    rgba(255, 255, 255, 0.8) 0%,
    rgba(255, 255, 255, 0) 40%,
    rgba(255, 255, 255, 0) 60%,
    rgba(255, 255, 255, 0.8) 100%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1;

  /* start fully visible */
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.glass-button::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  padding: 1px;
  background: linear-gradient(
    170deg,
    rgba(255, 255, 255, 0.8) 0%,
    rgba(255, 255, 255, 0) 40%,
    rgba(255, 255, 255, 0) 60%,
    rgba(255, 255, 255, 0.8) 100%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1;

  /* start hidden */
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.glass-button-no-hover {
  background: rgba(109, 109, 109, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  padding: 0.8vw 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 36px;
  font-family: var(--default-font);
  transition: 0.3s ease-in-out;
  font-size: 1vw;
  font-weight: 400;
}

/* Gradient border layer */
.glass-button-no-hover::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  padding: 1px;
  background: linear-gradient(
    355deg,
    rgba(255, 255, 255, 0.8) 0%,
    rgba(255, 255, 255, 0) 48%,
    rgba(255, 255, 255, 0) 52%,
    rgba(255, 255, 255, 0.8) 100%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1;
  opacity: 1;
}

.glass-button:hover::before {
  opacity: 0; /* fade old light out */
}

.glass-button:hover::after {
  opacity: 1; /* fade new light in */
}
.glass-button:hover {
  scale: 1;
}

#glass-button-extended::before {
  background: linear-gradient(
    165deg,
    rgba(255, 255, 255, 0.8) 25%,
    rgba(255, 255, 255, 0) 40%,
    rgba(255, 255, 255, 0) 60%,
    rgba(255, 255, 255, 0.8) 75%
  );
  padding: 0.5px;
}

#glass-button-extended::after {
  background: linear-gradient(
    175deg,
    rgba(255, 255, 255, 0.8) 25%,
    rgba(255, 255, 255, 0) 40%,
    rgba(255, 255, 255, 0) 60%,
    rgba(255, 255, 255, 0.8) 75%
  );
  padding: 0.5px;
}

#glass-button-extended:hover::before {
  opacity: 0;
}

#glass-button-extended:hover::after {
  opacity: 1;
}

.cta-2 {
  padding: 0 !important;
  font-family: var(--default-font);
  text-decoration: underline !important;
  font-weight: 400;
  font-size: 1vw;
}
.bold {
  font-weight: 700;
}
.uppercase {
  text-transform: uppercase;
}
.underlined {
  text-decoration: underline;
}
.red-colored {
  color: var(--main-red);
}
